.not-found p{
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}
div.row{
  width:100%;
  position: relative;}
.column.six{
  position: relative;
  display: inline-block;
  width: 50%;
}
.column.six img{
  width: 100%;
  height: 100%;
}
